@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --round-lg: 1rem;
  --round-md: 0.625rem;
  --round-r: 0.5rem;
}

/* basic css resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--Light-gray);
  font-family: 'Outfit', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.5;
  margin: 0;
}

h1,
h2 {
  line-height: 1.1;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
}

/* tag selector */
main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  padding: 1.5rem;
}

/* some utility classes */
.text-center {
  text-align: center;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* custom classes */
.attribution {
  font-size: 11px;
  margin-top: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card {
  max-width: 20rem;
  padding: 1rem;
  background-color: var(--White);
  border-radius: var(--round-lg);
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.05), 0 2px 2px hsl(0deg 0% 0% / 0.05),
    0 4px 4px hsl(0deg 0% 0% / 0.05), 0 8px 8px hsl(0deg 0% 0% / 0.05),
    0 16px 16px hsl(0deg 0% 0% / 0.05);
}

.card__image-half img {
  border-radius: var(--round-md);
}

.card__text-half h2 {
  color: var(--Dark-blue);
  line-height: 1.2;
}

.card__text-half p {
  padding-inline: 1rem;
  color: var(--Grayish-blue);
  line-height: 1.3;
}
